:root {
   --color-black: #000000;
   --color-gold: #BB945F;
   --color-white: #FFF;
   --font-Forum: 'Forum', cursive;
   --font-Inter:: 'Inter', sans-serif;
   --font-size40: 40px;
   --font-size30: 30px;
   --font-size20: 20px;
   --font-weight400: 400;
   --font-weight700: 700;
}


.wrapper {
   font-family: var(--font-Inter);
   font-size: var(--font-size20);
   font-weight: var(--font-weight400);
   
   height: 100vh;
   max-width: 100%;
   margin: 0 auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   background-color: var(--color-black);
}

.header {
   padding: 3vh 8vw;
}

.header-title {
   color: var(--color-white);
   font-size: var(--font-size40);
   font-weight: var(--font-weight700);
}